.CarForm {

}

.FormItem {
    padding:8px;
}

.FormItem div{
    width: 100%;
    background-color: var(--form-fields-color);
}

.FormItem div input {
    background-color: var(--form-fields-color);
}

.FormItem div div {
    background-color: var(--form-fields-color);
}